* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    box-sizing: border-box;
}

body {
    // overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    display: block;
}

input,
select,
textarea,
button {
    appearance: none;
    outline: none;
    border: none;
}

input,
select,
textarea {
    width: 100%;
}

input,
select {
    height: 40px;
    border: 1px solid darken($white, 10);
}

select,
button {
    cursor: pointer;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}
