body {
    color: $font_color;
    background-color: $background_color;
    line-height: 37px;
}

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
